.hamburger {
    display: none; /* Hide for large screens */
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: all 0.3s ease;
}

.menu {
    display: flex; /* Default flexbox for large screens */
    justify-content: space-around;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }
}